# Git LFS
*.zip filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
/dist/windows/_internal/grpc/_cython/cygrpc.cp313-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
/dist/windows/_internal/numpy.libs/libscipy_openblas64_-9e3e5a4229c1ca39f10dc82bba9e2b2b.dll filter=lfs diff=lfs merge=lfs -text
/dist/windows/_internal/tensorflow/compiler/mlir/stablehlo/stablehlo_extension.pyd filter=lfs diff=lfs merge=lfs -text
/dist/windows/_internal/tensorflow/compiler/tf2xla/ops/_xla_ops.so filter=lfs diff=lfs merge=lfs -text
/dist/windows/_internal/tensorflow/lite/python/pywrap_tflite_common.dll filter=lfs diff=lfs merge=lfs -text
/dist/windows/_internal/tensorflow/python/profiler/internal/_pywrap_profiler_plugin.pyd filter=lfs diff=lfs merge=lfs -text
/dist/windows/_internal/torch/lib/torch_python.dll filter=lfs diff=lfs merge=lfs -text
/dist/windows/main.exe filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/grpc/_cython/cygrpc.cpython-313-x86_64-linux-gnu.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/ml_dtypes/_ml_dtypes_ext.cpython-313-x86_64-linux-gnu.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/numpy.libs/libscipy_openblas64_-fdde5778.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/numpy/_core/_multiarray_umath.cpython-313-x86_64-linux-gnu.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cublas/lib/libcublas.so.12 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cublas/lib/libcublasLt.so.12 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cuda_cupti/lib/libnvperf_host.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cuda_nvrtc/lib/libnvrtc.alt.so.12 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cuda_nvrtc/lib/libnvrtc.so.12 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cudnn/lib/libcudnn_adv.so.9 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cudnn/lib/libcudnn_engines_precompiled.so.9 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cudnn/lib/libcudnn_engines_runtime_compiled.so.9 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cudnn/lib/libcudnn_heuristic.so.9 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cudnn/lib/libcudnn_ops.so.9 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cufft/lib/libcufft.so.11 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/curand/lib/libcurand.so.10 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cusolver/lib/libcusolver.so.11 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cusolver/lib/libcusolverMg.so.11 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cusparse/lib/libcusparse.so.12 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/cusparselt/lib/libcusparseLt.so.0 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/nccl/lib/libnccl.so.2 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/nvjitlink/lib/libnvJitLink.so.12 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/nvidia/nvshmem/lib/libnvshmem_host.so.3 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/tensorflow/compiler/mlir/stablehlo/stablehlo_extension.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/tensorflow/compiler/tf2xla/ops/_xla_ops.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/tensorflow/libtensorflow_cc.so.2 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/tensorflow/libtensorflow_framework.so.2 filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/tensorflow/lite/python/libpywrap_tflite_common.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/tensorflow/python/profiler/internal/_pywrap_profiler_plugin.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/torch/lib/libtorch_cpu.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/torch/lib/libtorch_cuda.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/torch/lib/libtorch_cuda_linalg.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/torch/lib/libtorch_python.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/triton/_C/libproton.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/triton/_C/libtriton.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/triton/backends/nvidia/bin/ptxas filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/triton/backends/nvidia/lib/cupti/libcupti_static.a filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/triton/backends/nvidia/lib/cupti/libnvperf_host.so filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/_internal/triton/backends/nvidia/lib/cupti/libnvperf_host_static.a filter=lfs diff=lfs merge=lfs -text
/dist/1.0/linux/main/main filter=lfs diff=lfs merge=lfs -text
